.navbar {
    padding: var(--space4) 0;
}

.navbar_container {
    height: calc(var(--space8) + 1rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: var(--space7);
}

.nav_links li:first-child > a {
    color: var(--dark);
    font-weight: 500;
}

.logo {
    width: 6rem;
    display: flex;
    place-items: center;
}

.logo > a > img {
    width: 100%;
    height: 100%;
    display: block;
}